@import url("https://fonts.cdnfonts.com/css/belleza");

@import url("https://fonts.cdnfonts.com/css/myriad-pro");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  font-size: 16px;
  line-height: 26px;
  color: black;
  font-weight: 400;
  letter-spacing: -0.2px;
  position: relative;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: red;
}
::selection {
  background-color: red;
  color: #fff;
}
-webkit-::selection {
  background-color: red;
  color: #fff;
}
::-moz-selection {
  background-color: red;
  color: #fff;
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  color: red;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5 {
  color: #fff;
}
.bg-dark p,
.bg-dark span {
  color: #999;
}
h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 10px;
  color: black;
}
h2 {
  font-size: 32px;
  line-height: 42px;
  color: black;
  margin: 0 0 10px;
  font-weight: 400;
  letter-spacing: -1px;
}
h3,
h4 {
  margin: 0 0 10px;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  letter-spacing: -0.5px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5,
h6 {
  font-size: 14px;
  margin: 0 0 10px;
}
img {
  border: none;
  outline: none;
  max-width: 100%;
}
ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
p,
li,
a,
span {
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}
a,
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ddd !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ddd !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ddd !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ddd !important;
}
button {
  border: none;
  background: 0 0;
}
.padding {
  padding: 100px 0;
}
.no-padding {
  padding: 0;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.box-padding {
  padding: 0 50px;
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: #f9fafa;
}
.bg-dark {
  background-color: #242323 !important;
}
.bd-top {
  border-top: 1px solid #e5e5e5;
}
.bd-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.fz-28 {
  font-size: 28px;
}
.fz-24 {
  font-size: 24px;
}
.fz-22 {
  font-size: 22px;
}
.fz-20 {
  font-size: 20px;
}
.fz-18 {
  font-size: 18px;
}
.fz-16 {
  font-size: 16px;
}
.text-black {
  color: #333;
}
.text-white {
  color: #fff;
}
.box-shadow,
.box-shadow-hover:hover {
  -webkit-box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, 0.1);
  -moz-box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, 0.1);
  box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, 0.1);
}
.loaded .site-preloader-wrap {
  opacity: 0;
  visibility: hidden;
}
.site-preloader-wrap {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
}
.site-preloader-wrap .spinner {
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.btn_group a {
  margin: 5px;
}
.btn_group_left a {
  margin-right: 15px;
  margin-bottom: 15px;
}
.default-btn {
  background-color: red;

  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  line-height: 45px;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 0 30px;
  -webkit-box-shadow: 0 3px 10px rgba(71, 44, 173, 0.2);
  box-shadow: 0 3px 10px rgba(71, 44, 173, 0.2);
}
.default-btn:hover {
  background-color: #232427;
  color: #fff;
}
.section-heading h2 {
  font-size: 32px;
  display: block;
}
.section-heading span {
  display: inline-block;
  font-size: 12px;
  color: #263a4f;
  font-weight: 600;
  letter-spacing: 0;
  position: relative;
  margin-bottom: 10px;
  z-index: 1;
}
.section-heading span:before {
  background-color: transparent;
  position: absolute;
  content: "";
  width: 20px;
  height: 30px;
  left: calc(50% - 10px);
  top: calc(50% - 15px);
  border: 3px solid red;
  opacity: 0.5;
  z-index: -1;
}
a,
a:hover,
.overlay,
img,
.form-control,
.form-control:hover,
button {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header {
  background-color: #fff;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0px 0px;
}
.viewport-sm .primary-header {
  padding: 10px 0;
}
.header-menu-wrap {
  margin-left: auto;
}
.sticky-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  z-index: 99;
}
.sticky-header .primary-header {
  background-color: #fff;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}
.sticky-header.headroom--top {
  transform: translateY(-100%);
}
.headroom {
  transition: transform 0.25s ease-in-out;
  will-change: transform;
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--pinned {
  transform: translateY(0);
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-menu-icon {
  display: none;
}
.burger-menu {
  width: 20px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: transform 330ms ease-out;
  -moz-transition: transform 330ms ease-out;
  -o-transition: transform 330ms ease-out;
  transition: transform 330ms ease-out;
}
.burger-menu.menu-open {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.line-menu {
  background-color: #222;
  border-radius: 2px;
  width: 100%;
  height: 3px;
}
.line-menu.line-half {
  width: 50%;
}
.line-menu.first-line {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}
.menu-open .line-menu.first-line {
  -webkit-transform: rotate(-90deg) translateX(3px);
  -moz-transform: rotate(-90deg) translateX(3px);
  -o-transform: rotate(-90deg) translateX(3px);
  transform: rotate(-90deg) translateX(3px);
}
.line-menu.last-line {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
.menu-open .line-menu.last-line {
  -webkit-transform: rotate(-90deg) translateX(-3px);
  -moz-transform: rotate(-90deg) translateX(-3px);
  -o-transform: rotate(-90deg) translateX(-3px);
  transform: rotate(-90deg) translateX(-3px);
}
.header-menu-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-menu-wrap ul li {
  display: inline-block;
  position: relative;
}
.header-menu-wrap ul li > a {
  display: block;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 600;
  color: #263a4f;
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.header-menu-wrap ul li:hover > a {
  color: red;
}
.header-menu-wrap li ul {
  background-color: #fff;
  display: block;
  width: 250px;
  padding: 30px 0;
  -webkit-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
  position: absolute;
  left: -35px;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
  -o-transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.header-menu-wrap li:hover > ul {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}
.header-menu-wrap li li {
  display: block;
  padding: 0 35px;
  margin-bottom: 5px;
  text-align: left;
  position: relative;
}
.header-menu-wrap li li:last-child {
  margin: 0;
}
.header-menu-wrap li li > a {
  display: block;
  height: auto;
  line-height: inherit;
  color: #263a4f;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.5;
  text-transform: capitalize;
  padding: 1px 8px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.header-menu-wrap li li:hover > a {
  color: red !important;
  background-color: #f9f9f9;
}
.header-menu-wrap li ul li ul {
  width: 250px;
  position: absolute;
  left: 100%;
  top: 0;
}
a {
  text-decoration: none;
}
@media (min-width: 993px) {
  .header-menu-wrap li ul {
    display: block !important;
  }
}
@media (max-width: 992px) {
  .headroom--top .header-menu-wrap,
  .headroom--unpinned .header-menu-wrap {
    display: none !important;
  }
  .dropdown-plus {
    width: 49px;
    height: 49px;
    line-height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .dropdown-plus:before,
  .dropdown-plus:after {
    position: absolute;
    content: "";
    top: 24px;
    right: 18px;
    width: 13px;
    height: 1px;
    background-color: #222;
  }
  .dropdown-plus:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .dropdown-plus.dropdown-open:after {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .header-menu-wrap {
    display: none;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 999;
  }
  .header-menu-wrap ul li {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }
  .header-menu-wrap ul li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.04);
  }
  .header-menu-wrap ul li > a {
    padding: 10px 15px;
    height: inherit;
    line-height: inherit;
  }
  .header-menu-wrap ul li ul li ul,
  .header-menu-wrap ul li ul {
    background-color: transparent;
    width: 100%;
    opacity: 1;
    padding: 0;
    visibility: visible;
    position: inherit;
    display: none;
    top: inherit;
    left: inherit;
    box-shadow: none;
  }
  .header-menu-wrap li li {
    padding-left: 11px;
  }
  .header-menu-wrap li li:last-child {
    border-bottom: none;
  }
  .header-menu-wrap li li > a {
    color: red;
    font-size: 24px;
  }
  .header-menu-wrap li li:hover > a {
    color: #666;
  }
}
@media (max-width: 580px) {
  .header-right a.menu-btn {
    line-height: 40px;
    font-size: 10px;
    padding: 0 25px;
  }
  .primary-header .header-logo {
    max-width: 150px;
  }
}
.primary-header-inner .header-right {
  display: flex;
  align-items: center;
  line-height: 80px;
  margin-left: 20px;
}
.header-right .mobile-menu-icon {
  margin-left: 20px;
}
.header-right a.menu-btn {
  background-color: red;
  line-height: 40px;
  color: #fff;
  border-radius: 44px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header-right a.menu-btn:hover {
  background-color: red;
  opacity: 0.8;
  color: #fff;
}
.primary-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.primary-header .header-logo {
  max-width: 180px;
}
.viewport-lg .primary-header .header-menu-wrap {
  display: block !important;
}
video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.about-section {
  background-image: url(/img/patterns.png);
}
.counter-section {
  background-image: url(/img/counter-bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.counter-section:before {
  background-color: rgba(35, 36, 39, 0.8);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.counter-content {
  text-align: center;
}
.counter-content .counter {
  color: red;
  font-size: 48px;
  line-height: 1;
  font-weight: 600;
  position: relative;
  display: block;
  margin: 0 0 10px;
}
.counter-content h4 {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
}
.widget-section {
  background-color: #232427;
  border-bottom: 1px solid #333;
}
.widget-content {
}
.widget-content img {
  margin-bottom: 20px;
}
.widget-section .widget-content h4 {
  color: #fff;
}
.widget-content p {
  color: white;
}
.widget-content span {
  display: block;
  color: white;
}
.widget-content .widget-links {
}
.widget-content .widget-links li {
}
.widget-content .widget-links li a {
  color: white;
  line-height: 1.9;
}
.widget-content .widget-links li a:hover {
  color: #3373de;
  text-decoration: underline;
}
.subscribe-form {
  position: relative;
}
.subscribe-form .form-input {
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 50px;
  padding: 10px;
  padding-right: 140px;
  border-radius: 2px;
}
.subscribe-form .submit-btn {
  background-color: #3373de;
  font-family: work sans, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  line-height: 50px;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 0 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
